*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Home Page */
body{
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    background-color:#F5F5F5;
}

.content {
    display: none;
    height: auto;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* background: rgba(255, 255, 255, 0.9);  */
    padding: 20px;
    border-radius: 50%;
    z-index: 99; 
}

.loader img{
    width: 100px;
    height: 100px;
}

.navbar{
    /* z-index: 1; */
    background-color: #333333;
    height: 7rem;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 600;
    /* display: none; */
    /* visibility: hidden; */
}

#bars{
    font-size: 2rem;
}

.nameLogo, .listItems:hover{
    cursor: pointer;
}

#logo{
    margin-left: 30px;
    height:3rem;
    width: 3rem;
}

#name{
    font-weight: 900;
}

a{
    color: white;
    text-decoration: none;
}

.searchBar{
    display: flex;
    border-radius: 15px;
    border: none;
    width: 40%;
    background-color: rgb(71, 19, 28);
}

#searchBy{
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    text-align: center;
    font-weight:700;
    font-size: 0.90rem;
}

#searchBy:focus{
    outline: none;
}

#search{
    width: 100%;
    border-left: 10px;
    font-size: 0.90rem;
    padding-left: 1rem;
    height: 2.4rem;
}

#search:focus{
    outline: none;
}

.searchIcon{
    background-color: green;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    padding: 6px;
    width: 2.8rem;
    padding-left: 16px;
    padding-top: 9px;
}

.searchIcon:hover{
    cursor:pointer;
}

.searchBar:hover{
    border:3px solid darkblue;
}

#register{
    margin-left: 18px;
}

.navList{
    margin-top: 7rem;
    background-color: #111111;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    visibility:hidden;
}

.linkAni:hover{
    transform: scale(1.2);
}

/* .hero img{
    margin-left: 2rem;
    height: 15rem;
    width: 25vw;
} */

/* .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7rem;
    width: 100%;
    background-color:#333333;
    display: none;

} */

/* Dashboard.php */
.out-profile-books{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.profile{
    width: 40%;
    /* margin-top: rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
}

.profile h1{
    text-align: center;
    margin-top: 1rem;
    color: white;
}

.user-info p{
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
}

.no-books{
    margin-left: 10rem;
    margin-top: 13rem;
    font-size: 2rem;
}

#upload-btn{
    width: 4rem;
    height: 2.6rem;
    background-color: white;
    font-weight: 600;
    border-radius: 15%;
    border: 0.2rem solid black;
}

#upload-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
    border: 0.3rem solid black;
}

.pic-form{
    color: white;
    margin-top: 2rem;
}

.add-book button{
    padding: 0.6rem;
    width: 6rem;
    height: 4.5rem;
    margin: 2rem;
    font-weight: 900;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-book button:hover{
    background-color: #2980b9;
}

.outside-notifications{
    height:auto;
    display: flex;
    flex-direction: column;
}

.notifications{
    color:white;
    text-align: center;
}

.notify{
    height: 3.5rem;
    width: 25rem;
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.notify:hover{
    scale:1.02;
}

.small-buyer-pic{
    background-color: pink;
    width:3.5rem;
    height:3.5rem;
    border-radius: 50%;
    /* background-image: url("-6077607787787040695_121.jpg");
    background-size: 60px 60px; */
}

.user-books{
    width: 60%;
    display:flex;
    flex-direction:column;
    /* flex-wrap: wrap; */
    margin-left: 13rem;
    /* margin-top: 2rem; */
}

.book-outer{
    width: 35rem;
    height: 20rem;
    /* margin-left: 3rem; */
    margin-top: 3rem;
    display: flex;
    border: 0.2rem solid black;
}

.book-outer:hover{
    border:0.2rem solid darkblue;
}

.book-inner1{
    width: 50%;
    height: 100%;
    background-image: url("Images/no-image-available.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
} 

.book-inner2{
    padding: 0.3rem;
    width: 50%;
    height: 98%;
    display: flex;
    flex-direction: column;
    border-left: 0.3rem solid black;
}

.details-book{
    margin: 1rem 0.2rem 1rem 0.2rem;
}

.heading-book{
    margin: 0.2rem 0.2rem 0 0.2rem;
}

.remove-book{
    width:6.5rem;
    height:1.8rem;
    background-color:#aa6276;
    color:black;
    font-weight:700;
    border:0.2rem solid black;
}

.edit-book{
    width:4.5rem;
    height:1.8rem;
    background-color:rgb(54, 218, 54);
    color:black;
    font-weight:600;
    border:0.2rem solid black;
    margin-left: 20%;
}

.edit-book:hover{
    background-color: green;
    cursor: pointer;
}

.remove-book:hover{
    background-color: red;
    cursor: pointer;
}

.price-book{
    margin-left: 2rem;
}

/* addBook.php */

.container{
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#book-h2{
    text-align: center;
    color: #333;
}

#book-form{
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

.book-input, .book-select{
    width: 100%;
    height: auto;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#book-btn{
    background-color: #3498db;
    height: auto;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#book-btn:hover{
    background-color: #2980b9;
}

/* searchResults.php */
.search-results{
    background-color: black;
    height: 3.7rem;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    padding: 1rem;
}

/* FullBookInfo.php */
.book-info-buttons{
    background-color: #333333;
    color: white;
    padding:0.7rem;
    margin:2rem;
    cursor:pointer;
    font-weight:700;
    font-size:1rem;
    border:0.2rem solid black;
}

.book-info-buttons:hover{
    border:0.35rem solid black;
    scale: 1.1;
}